html, body, .appWindow {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row;
}
.list {
    width: 200px;
    border: 1px solid red;
}
.task {
    width: 100%;
    border: 1px solid blue;
}
.listHeader {
    width: 100%;
    border: 1px solid green;
}
.taskContainer {
    width: 100%;
    border: 1px solid orchid;
}
.appNav {
    width: 250px;
    height: 100%;
    border: 2px solid purple;
}
.appContents {
    width: auto;
    height: 100%;
    border: 2px solid cyan;
}